html {
  font-size: 10px;
}

body {
  color: #ddd;
  background-color: black;
  font-size: 8rem;
}

a {
  color: blue;
}

.yarn img {
  height: 100px;
  width: 100px; 
}

.tasks {
  ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    margin: 2rem;
  }

  li {
    cursor: pointer;
  }
}

.add-button {
  font-size: 8rem;
  padding: 0 4rem;
}
